{% extends 'HBBlogBundle::layout.html.twig' %}
    
{% block titre_content %}&nbsp; Ajouter un article {% endblock %}
{% block content -%}

{% form_theme form 'HBBlogBundle:Article:form.html.twig' %}
    <div class="row col-lg-6">
        {{ form(form) }} 
        <ul class="record_actions">
            <li class="list-unstyled">
                <a  class="btn btn-xs btn-group-lg btn-github"  href="{{ path('article') }}">
                    <i class="ion-backspace" ></i>&nbsp;Retour à la liste
                </a>
            </li>
        </ul>
    </div>
{% endblock %}
